.hello {
  position: relative;
  background: url("/images/head2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 300% 100%;
  height: 89vh;
  color: #fff;

  @media screen and (max-width: $breakpoint-laptop) {
    background-position: unset;
    height: 70vh;
  }

  .overlay {
    position: relative;
    background: rgba(255, 45, 110, 0.85);
    padding: 0 5%;
    height: 100%;
  }

  .info {
    position: absolute;
    bottom: 5rem;
    left: 10rem;

    @media screen and (max-width: $breakpoint-tablet) {
      left: 3.2rem;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      bottom: 6rem;
      left: 1rem;
      text-align: center;
      margin: 0 auto;
    }

    h1 {
      font-size: 3.5rem;
      letter-spacing: -4px;
      line-height: 65px;
      text-shadow: 3px 4px rgba(0, 0, 0, 0.05);
      width:65%;

      @media screen and (max-width: $breakpoint-tablet) {
        font-size: 2.5rem;
        line-height: normal;
        width: 60%;
        text-align: start;
        letter-spacing: -3px;
      }

      @media screen and (max-width: $breakpoint-mobile) {
        font-size: 2rem;
        width: 100%;
        text-align: center;
      }
    }

    p {
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 1rem;
    }

    button {
      position: relative;
      background-color: #03bf94;
      padding: 1rem 2rem;
      color: #fff;
      font-weight: 500;
      font-size: 11px;
      width: 25%;

      @media screen and (max-width: $breakpoint-tablet) {
        width: 50%;
      }

      @media screen and (max-width: $breakpoint-mobile) {
        width: 70%;
      }
    }

  }
}

// NAV-BAR TO BE MOVED TO ANOTHER COMPONENT
header {
  position: relative;
  top: 1rem;
  width: 100%;
  box-sizing: border-box;
  z-index: 5;
}

.logo {
  margin-top: 0;
  text-decoration: none;
  box-sizing: border-box;
  float: left;
  color: #fff;
  font-size: 30px;
}

nav {
  float: right;
}

#rr .a {
  background: #ecfff6;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  display: block;
  text-decoration: none;
  margin: 0 1px;
  padding: 10px 20px;
  font-size: 17px;
}

.clearfix {
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
  margin-left: 1.5rem;
}

nav ul li a {
  display: block;
  text-decoration: none;
  margin: 0 1px;
  padding: 10px 20px;
  color: #fff;
  font-size: 17px;
}


@media screen and (max-width: 700px) {

  body,
  html {
    margin: 0;
    padding: 0;
  }

  header {
    position: relative;
    width: 100%;
  }

  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-right: 20px;
    margin-top: -5px;
    background: unset;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #2376f3;
  }

  .menu-toggle:before {
    content: "\f0c9";
    line-height: 40px;
    font-family: fontAwesome;
  }

  .menu-toggle.active:before {
    content: "\f00d";
  }

  .nav {
    display: none;
  }

  nav.active {
    display: block;
    width: 100%;
  }

  nav.active ul {
    display: block;
  }

  nav.active ul li a {
    margin: 0;
  }
}