.reason {
  padding: 5rem 15%;
  text-align: center;
  background-color: #FBFBFB;
  padding-bottom:10rem;  
  @media screen and (min-width:700px) and (max-width: 1200px) {
        padding:5rem 5%;

  }

  h1 { 
    color: #113e52;
    font-size: 50px;
    letter-spacing: -4px;
    line-height: 65px;
    @media screen and (max-width: 700px) {
       font-size:2.4rem;     
     }
  }

  .flex {
    align-items: center;
    align-content: center;
    margin-top: 6rem;
    @media screen and (max-width: 700px) {
     flex-direction: column;      
    }

    .items {
      width: 27%;
      height: 25vh;
      @media screen and (max-width: 700px) {
        height: unset; 
        width:100%; 
        margin-top:2rem; 
      }
      @media screen and (min-width:700px) and (max-width: 1200px) {
        width:30%; 

      }

      .icon {
        background-color: #d8d8d8;
        padding: 1.5rem 1rem;
        border-radius: 50%;
        width: 20%;
        margin: 0 auto;

        .fas {
          font-size: 30px;
          color: $main-theme;
        }
      }
    }
  }
}

h2 {
  color: $main-theme;
  font-size: 30px;
  margin: 10px 0;
  letter-spacing: -2px;
  line-height: 65px;
  @media screen and (min-width: 700px) and (max-width:1200px) {
    font-size:22px; 
    line-height: 20px; 
    margin-top:1rem;
   }
}

p {
  color: #a4a4a4;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 20px;
  width:100%;
}