.market {
  padding: 0 15%;
  padding-top: 5rem;

  @media screen and (max-width: $breakpoint-tablet) {
    padding: 0 5%;
  }
}

h2 {
  color: #113e52;
  font-size: 50px;
  letter-spacing: -2px;
  line-height: 65px;
  text-align: center;
  margin-top: 2rem;
}

p {
  color: #a4a4a4;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  margin: 0 auto;

  @media screen and (max-width: $breakpoint-tablet) {
    width: 100%;
  }
}

.loan-options {
  justify-content: center;
  align-content: center;
  width: 40%;
  margin: 4rem auto;

  @media screen and (max-width: $breakpoint-tablet) {
    width: 90%;
  }
}

.opt {
  font-size: 15px;
  padding: 0.8rem 2rem;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}

.req {
  background-color: #d8d8d8;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.offer {
  background-color: #ff2d6e;
  color: #fff;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.sort-bar {

  align-content: center;
  font-family: "Open Sans";
  font-size: 12px;

  @media screen and (max-width:500px) {
    flex-direction: column;
  }

  .opacity {
    opacity: 0.5;
  }

  .s {
    margin-right: 2rem;

    @media screen and (max-width: 500px) {
      margin-right: 5px;
      margin-top:10px;
    }
  }

  span {
    margin-left: 2rem;

    @media screen and (max-width: 500px) {
      margin-left: 5px;
    }

  }

  select {
    margin-left: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
    background: #fff;

    @media screen and (max-width: 500px) {
      margin-left: 5px;
    }
  }
}

.market-list {
  padding: 5px;
  margin-top: 3rem;

  .market-card {
    position: relative;
    box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    width: 30%;
    margin-bottom: 20px;
    font-family: "Josefin Sans", sans-serif;
    border-radius: 5px;
    @media screen and (max-width: 500px) {
    width:100%;  
    }
    @media screen and (min-width: 400px) and (max-width:800px) {
      width:48%
    }
    .flag {
      position: absolute;
      top: 50px;  
      right: 30px;

      .far {
        height: 23px;
        width: 18px;
      }
    }

    div {
      margin-top: 1rem;
    }

    .values {
      padding: 0.5rem 2rem;
    }

    .n {
      height: 14px;
      width: 12px;
      color: #113e52;
      font-size: 20px;
      font-weight: 900;
      letter-spacing: -2px;
      line-height: 40px;
      margin-right: 5px;
    }

    .price {
      color: #113e52;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: -2px;
      line-height: 40px;
      text-align: center;
      margin-top: 2rem;
    }

    .rating {
      bottom: 0;
      padding: 2rem;
      background: #f8edef;
    }
  }
}

button {
  margin: 3rem 42%;
  text-align: center;
  padding: 0.9rem 2rem;
  border-radius: 5px;
  width: 15%;
  background-color: #d8d8d8;
  border: none;
  cursor: pointer;
  @media screen and (max-width: 1200px) {
    width:30%;     
    margin-left:25%;
  }
  @media screen and (max-width: 700px) {
    width:50%;    
    margin-left:25%;
  }
}