.footer {
    background-color: #152c35;
    padding: 8% 0;
    color: #fff;
    justify-content: space-evenly;
    .item {
      font-size: 3rem;
      letter-spacing: -2px;
      border-right: 1px solid #a4a4a4;
      padding-right: 15rem;
    }
    .item2 {
      .sub-item {
        div {
          // margin-bottom: 2rem;
          color: #a4a4a4;
          font-family: "Josefin Sans";
          font-size: 15px;
          line-height: 65px;
          cursor:pointer;
          width:100%;
        }
      }
      .margin {
        margin-right: 50px;
      }
    }
  }