$breakpoint-mobile:600px;
$breakpoint-tablet:900px;
$breakpoint-laptop:1200px;
 .center {
     text-align: center;
 }

 .relative {
     position: relative;
 }

 .jose {
     font-family: "Josefin Sans", sans-serif;
 }
 .josebold {
    font-family: "Josefin Sans", sans-serif;
    font-weight:bold;
}

 .normal {
     font-family: "Open Sans";
     font-size: 15px;
 }

 .flexbox {
     display: flex;
     justify-content: space-between;
 }

 .row {
     flex-direction: row;
 }

 .wrap {
     flex-wrap: wrap;
 }

 .column {
     flex-direction: column;
 }
 html, body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    overflow-x: hidden; 
}

//  * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
// }