.purpose {
    align-content: center;
    align-items: center;
    padding:10%;
    padding-bottom:7%;
    text-align: center;
    background: #f8f4f4;
  }
  
  .spec {
    width: 28%;
    height:20vh;
    div {
      font-size: 30px;
      color: #113e52;
      letter-spacing: -2px;
      text-align: center;
    }
    p {
      font-size: 15px;
      color: #a4a4a4;
      line-height: 18px;
      text-align: center;
      font-family:"Open Sans",sans-serif;
    }
  }